<div ng-controller="MailController">

    <div class="table-responsive">
    	<h2>Liste des étudiants</h2>
    	<p>Check students to send them a mail.</p>
        <table>
            <tr ng-repeat="student in students">
            	<form action =>
                <td>{{student.firstName + " " + student.lastName}}
                	<input type="checkbox" ng-checked="student.Selected" ng-click="listMails(student)">
                </td>
                	</form>
            </tr>
        </table>
    </div>
    
    <div class="table-responsive">
    	<p> Click on a company to add check all students in this company. </p>
        <table>
            <tr ng-repeat="company in companies">
            	<td>
            		<button ng-click="addInMails(company.id)"> {{company.name}} </button>
            	</td>
            </tr>
        </table>
    </div>
    
   

	<div>
		<textarea ng-model="object" placeholder="Object of the mail">
	
		</textarea>
	</div>
	
	<div>
		<textarea ng-model="content" placeholder ="Content of the mail">
	
		</textarea>
	</div>
	
	 <button ng-click="sendMail()">Send mail</button>

</div>





