<div ng-cloak>
    <div class="row">
        <div class="col-md-4">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" class="{{hide=='student' && 'active'}}"><a aria-controls="studenta" role="tab"
                                                                                   data-toggle="pill"
                                                                                   ng-click="show('student')">Student</a>
                </li>
                <li role="presentation" class="{{hide=='stage' && 'active'}}"><a aria-controls="stagea" role="tab"
                                                                                 data-toggle="pill"
                                                                                 ng-click="show('stage')">Stage</a></li>
                <li role="presentation" class="{{hide=='company' && 'active'}}"><a aria-controls="companya" role="tab"
                                                                                   data-toggle="pill"
                                                                                   ng-click="show('company')">Company</a>
                </li>
                <li role="presentation" class="{{hide=='teacher' && 'active'}}"><a aria-controls="teachera" role="tab"
                                                                                   data-toggle="pill"
                                                                                   ng-click="show('teacher')">Teacher</a>
                </li>
                <li role="presentation" class="{{hide=='contact' && 'active'}}"><a aria-controls="contacta" role="tab"
                                                                                   data-toggle="pill"
                                                                                   ng-click="show('contact')">Contact</a>
                </li>
                <li role="presentation" class="{{hide=='convention' && 'active'}}"><a aria-controls="conventiona"
                                                                                      role="tab" data-toggle="pill"
                                                                                      ng-click="show('convention')">Convention</a>
                </li>
                <li role="presentation" class="{{hide=='enquete' && 'active'}}"><a aria-controls="enquetea" role="tab"
                                                                                   data-toggle="pill"
                                                                                   ng-click="show('enquete')">Enquete</a>
                </li>
            </ul>
        </div>
        <div class="col-md-8">

            <div ng-show="hide=='student'" >
                <form class="form-horizontal">
                    <fieldset>

                        <!-- Form Name -->
                        <legend>Student Filter</legend>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label">Student First Name</label>
                            <div class="col-md-4">
                                <input ng-model="student.lastname">
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label">Student Last Name</label>
                            <div class="col-md-4">
                                <input ng-model="student.firstname">

                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label">Speciality</label>
                            <div class="col-md-4">
                                <input type="text" ng-model="student.speciality">
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label">Phone</label>
                            <div class="col-md-4">
                                <input type="text" ng-model="student.phone">

                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label">Mail</label>
                            <div class="col-md-4">
                                <input type="text" ng-model="student.mail">
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label">Address</label>
                            <div class="col-md-4">
                                <input class="form-control input-md" type="text" ng-model="student.address">
                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label">BirthDate</label>
                            <div class="col-md-2">
                                <select ng-model="student.birthdateope">
                                    <option selected="selected" value="eq">=</option>
                                    <option value="infeq"><=</option>
                                    <option value="supeq">>=</option>
                                    <option value="inf"><</option>
                                    <option value="sup">></option>
                                </select>

                            </div>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <datepicker date-format="shortDate">
                                        <input ng-model="student.birthdate" type="text"/>
                                    </datepicker>
                                </div>
                            </div>

                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label">Stage ID</label>
                            <div class="col-md-4">
                                <input class="form-control input-md" type="text" ng-model="student.stage">
                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label">Enquete ID</label>
                            <div class="col-md-4">
                                <input class="form-control input-md" type="text" ng-model="student.enquete">
                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label">Teacher ID</label>
                            <div class="col-md-4">
                                <input class="form-control input-md" type="text" ng-model="student.teacher">
                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label">Contact ID</label>
                            <div class="col-md-4">
                                <input class="form-control input-md" type="text" ng-model="student.contact">
                            </div>
                        </div>
                    </fieldset>
                </form>
                <button class="btn btn-primary" ng-click="buildRequest('student')">Search</button>
                <br>
                request = {{request}}


            </div>
            <div ng-show="hide=='stage'" >
                <form class="form-horizontal">
                    <fieldset>
                        <!-- Form Name -->
                        <legend>Stage Filter</legend>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label">Start Date</label>
                            <div class="col-md-2">
                                <select ng-model="stage.startDateOpe">
                                    <option selected="selected" value="eq">=</option>
                                    <option value="infeq"><=</option>
                                    <option value="supeq">>=</option>
                                    <option value="inf"><</option>
                                    <option value="sup">></option>
                                </select>

                            </div>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <datepicker date-format="shortDate">
                                        <input ng-model="stage.startDate" type="text"/>
                                    </datepicker>
                                </div>
                            </div>

                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label">End Date</label>
                            <div class="col-md-2">
                                <select ng-model="stage.endDateOpe">
                                    <option selected="selected" value="eq">=</option>
                                    <option value="infeq"><=</option>
                                    <option value="supeq">>=</option>
                                    <option value="inf"><</option>
                                    <option value="sup">></option>
                                </select>

                            </div>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <datepicker date-format="stage.endDate">
                                        <input ng-model="endDate" type="text"/>
                                    </datepicker>
                                </div>
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label">Address</label>
                            <div class="col-md-4">
                                <input class="form-control input-md" type="text" ng-model="stage.address">
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label">Soon Ending</label>
                            <div class="col-md-2">
                                <select ng-model="stage.endingDateOpe">
                                    <option selected="selected" value="eq">=</option>
                                    <option value="infeq"><=</option>
                                    <option value="supeq">>=</option>
                                    <option value="inf"><</option>
                                    <option value="sup">></option>
                                </select>

                            </div>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <datepicker date-format="shortDate">
                                        <input ng-model="stage.endingDate" type="text"/>
                                    </datepicker>
                                </div>
                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label">Student</label>
                            <div class="col-md-4">
                                <input class="form-control input-md" type="text" ng-model="stage.student">
                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label">Convention</label>
                            <div class="col-md-4">
                                <input class="form-control input-md" type="text" ng-model="stage.convention">
                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label">Company</label>
                            <div class="col-md-4">
                                <input class="form-control input-md" type="text" ng-model="stage.company">
                            </div>
                        </div>


                    </fieldset>
                </form>
                <button id="singlebuttonstage" name="singlebutton" class="btn btn-primary" ng-click="buildRequest('stage')">
                    Search
                </button>
                <br>
                request = {{request}}
            </div>
            <div ng-show="hide=='company'" >
                <form class="form-horizontal">
                    <fieldset>

                        <!-- Form Name -->
                        <legend>Company Filter</legend>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label">Id</label>
                            <div class="col-md-4">
                                <input class="form-control input-md" type="text" ng-model="company.id">
                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label">Numero Siret</label>
                            <div class="col-md-4">
                                <input class="form-control input-md" type="text" ng-model="company.siret">
                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label">Name</label>
                            <div class="col-md-4">
                                <input class="form-control input-md" type="text" ng-model="company.name">
                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label">Adresse</label>
                            <div class="col-md-4">
                                <input class="form-control input-md" type="text" ng-model="company.address">
                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label">Mail</label>
                            <div class="col-md-4">
                                <input class="form-control input-md" type="text" ng-model="company.mail">
                            </div>
                        </div>
                    </fieldset>
                </form>
                <button class="btn btn-primary" ng-click="buildRequest('company')">
                    Search
                </button>
                <br>
                request = {{request}}

            </div>
            <div ng-show="hide=='teacher'">
                <form class="form-horizontal">
                    <fieldset>

                        <!-- Form Name -->
                        <legend>Teacher Filter</legend>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label">Id</label>
                            <div class="col-md-4">
                                <input class="form-control input-md" type="text" ng-model="teacher.id">
                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label">Nom</label>
                            <div class="col-md-4">
                                <input class="form-control input-md" type="text" ng-model="teacher.lastname">
                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label">Prenom</label>
                            <div class="col-md-4">
                                <input class="form-control input-md" type="text" ng-model="teacher.firstname">
                            </div>
                        </div>
                    </fieldset>
                </form>
                <button class="btn btn-primary" ng-click="buildRequest('teacher')">
                    Search
                </button>
                <br>
                request = {{request}}

            </div>
            <div ng-show="hide=='contact'">
                <form class="form-horizontal">
                    <fieldset>

                        <!-- Form Name -->
                        <legend>Contact Filter</legend>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label">Id</label>
                            <div class="col-md-4">
                                <input class="form-control input-md" type="text" ng-model="contact.id">
                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label">Nom</label>
                            <div class="col-md-4">
                                <input class="form-control input-md" type="text" ng-model="contact.lastname">
                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label">Prenom</label>
                            <div class="col-md-4">
                                <input class="form-control input-md" type="text" ng-model="cntact.firstname">
                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label">Mail</label>
                            <div class="col-md-4">
                                <input class="form-control input-md" type="text" ng-model="contact.mail">
                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label">Telephone</label>
                            <div class="col-md-4">
                                <input class="form-control input-md" type="text" ng-model="contact.phone">
                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label">Company</label>
                            <div class="col-md-4">
                                <input class="form-control input-md" type="text" ng-model="contact.company">
                            </div>
                        </div>
                    </fieldset>
                </form>
                <button class="btn btn-primary" ng-click="buildRequest('contact')">
                    Search
                </button>
                <br>
                request = {{request}}
            </div>
            <div ng-show="hide=='convention'">
                <form class="form-horizontal">
                    <fieldset>

                        <!-- Form Name -->
                        <legend>Convention Filter</legend>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label">Id</label>
                            <div class="col-md-4">
                                <input ng-model="convetion.id">
                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label">Sujet</label>
                            <div class="col-md-4">
                                <input ng-model="convention.sujet">
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label">Student signature</label>
                            <div class="col-md-4">
                                <input type="checkbox" checked ng-model="convention.studentSigned"><br>

                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label">Company signature</label>
                            <div class="col-md-4">
                                <input type="checkbox" checked ng-model="convention.companySigned"><br>

                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label">University signature</label>
                            <div class="col-md-4">
                                <input type="checkbox" checked ng-model="convention.universitySigned"><br>

                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label">Salaire</label>
                            <div class="col-md-4">
                                <input ng-model="convention.salary">

                            </div>
                        </div>
                    </fieldset>
                </form>
                <button class="btn btn-primary" ng-click="buildRequest('convention')">Search</button>
                <br>
                request = {{request}}
            </div>
            <div ng-show="hide=='enquete'" >
                <form class="form-horizontal">
                    <fieldset>

                        <!-- Form Name -->
                        <legend>Enquete Filter</legend>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label">Id</label>
                            <div class="col-md-4">
                                <input ng-model="enquete.id">
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label">Nom société</label>
                            <div class="col-md-4">
                                <input ng-model="enquete.name">

                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label">Phone</label>
                            <div class="col-md-4">
                                <input type="text" ng-model="enquete.phone">
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label">Email</label>
                            <div class="col-md-4">
                                <input type="text" ng-model="enquete.mail">

                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label">Embauché</label>
                            <div class="col-md-4">
                                <input type="checkbox" checked ng-model="enquete.hired"><br>

                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label">Salaire du stage</label>
                            <div class="col-md-4">
                                <input class="form-control input-md" type="text" ng-model="enquete.stagePledge">
                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label">Salaire si embauche</label>
                            <div class="col-md-4">
                                <input class="form-control input-md" type="text" ng-model="enquete.jobPledge">
                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label">Comment</label>
                            <div class="col-md-4">
                                <input class="form-control input-md" type="text" ng-model="enquete.comment">
                            </div>
                        </div>
                    </fieldset>
                </form>
                <button class="btn btn-primary" ng-click="buildRequest('enquete')">Search</button>
                <br>
                request = {{request}}
            </div>
        </div>
    </div>
    <div class="row">
        <div ng-show="hide=='student'">
            <table class="jh-table table table-striped">
                <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span>First Name</span></th>
                    <th><span>Last Name</span></th>
                    <th><span>Speciality</span></th>
                    <th><span>Mail</span></th>
                    <th><span>Phone</span></th>
                    <th><span>Adress</span></th>
                    <th><span>Birth Date</span></th>
                    <th><span>Stage</span></th>
                    <th><span>Teacher</span></th>
                    <th><span>Contact</span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="student in students track by student.id">
                    <td><a ui-sref="student-detail({id:student.id})">{{student.id}}</a></td>
                    <td>{{student.firstName}}</td>
                    <td>{{student.lastName}}</td>
                    <td>{{student.speciality}}</td>
                    <td>{{student.mail}}</td>
                    <td>{{student.phone}}</td>
                    <td>{{student.adress}}</td>
                    <td>{{student.birthDate | date:'medium'}}</td>
                    <td>
                        <a ui-sref="stage-detail({id:student.stage.id})">{{student.stage.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="teacher-detail({id:student.teacher.id})">{{student.teacher.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="contact-detail({id:student.contact.id})">{{student.contact.id}}</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div ng-show="hide=='stage'">
            <table class="jh-table table table-striped">
                <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span>Start Date</span></th>
                    <th><span>End Date</span></th>
                    <th><span>Adress</span></th>
                    <th><span>Soon Ending</span></th>
                    <th><span>Student</span></th>
                    <th><span>Convention</span></th>
                    <th><span>Company</span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="stage in stages track by stage.id">
                    <td><a ui-sref="stage-detail({id:stage.id})">{{stage.id}}</a></td>
                    <td>{{stage.startDate | date:'medium'}}</td>
                    <td>{{stage.endDate | date:'medium'}}</td>
                    <td>{{stage.adress}}</td>
                    <td>{{stage.soonEnding | date:'medium'}}</td>
                    <td>{{stage.student}}</td>
                    <td>
                        <a ui-sref="convention-detail({id:stage.convention.id})">{{stage.convention.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="company-detail({id:stage.company.id})">{{stage.company.id}}</a>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>
        <div ng-show="hide=='company'">
            <table class="jh-table table table-striped">
                <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span>Siret</span></th>
                    <th><span>Name</span></th>
                    <th><span>Adress</span></th>
                    <th><span>Mail</span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="company in companies track by company.id">
                    <td><a ui-sref="company-detail({id:company.id})">{{company.id}}</a></td>
                    <td>{{company.siret}}</td>
                    <td>{{company.name}}</td>
                    <td>{{company.adress}}</td>
                    <td>{{company.mail}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div ng-show="hide=='teacher'">
            <table class="jh-table table table-striped">
                <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span>First Name</span></th>
                    <th><span>Last Name</span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="teacher in teachers track by teacher.id">
                    <td><a ui-sref="teacher-detail({id:teacher.id})">{{teacher.id}}</a></td>
                    <td>{{teacher.firstName}}</td>
                    <td>{{teacher.lastName}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div ng-show="hide=='contact'">
            <table class="jh-table table table-striped">
                <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span>First Name</span></th>
                    <th><span>Surname</span></th>
                    <th><span>Mail</span></th>
                    <th><span>Phone Number</span></th>
                    <th><span>Company</span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="contact in vm.contacts track by contact.id">
                    <td><a ui-sref="contact-detail({id:contact.id})">{{contact.id}}</a></td>
                    <td>{{contact.firstName}}</td>
                    <td>{{contact.surname}}</td>
                    <td>{{contact.mail}}</td>
                    <td>{{contact.phoneNumber}}</td>
                    <td>
                        <a ui-sref="company-detail({id:contact.company.id})">{{contact.company.id}}</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div ng-show="hide=='convention'">

            <table class="jh-table table table-striped">
                <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span>Sujet</span></th>
                    <th><span>Student Signature</span></th>
                    <th><span>Contact Signature</span></th>
                    <th><span>University Signature</span></th>
                    <th><span>Salary</span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="convention in vm.conventions track by convention.id">
                    <td><a ui-sref="convention-detail({id:convention.id})">{{convention.id}}</a></td>
                    <td>{{convention.sujet}}</td>
                    <td>{{convention.studentSignature}}</td>
                    <td>{{convention.contactSignature}}</td>
                    <td>{{convention.universitySignature}}</td>
                    <td>{{convention.salary}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div ng-show="hide=='enquete'">
            <table class="jh-table table table-striped">
                <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span>Nom Societe</span></th>
                    <th><span>Phone</span></th>
                    <th><span>Email</span></th>
                    <th><span>Stay</span></th>
                    <th><span>Internship Salary</span></th>
                    <th><span>Salary</span></th>
                    <th><span>Comment</span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="enquete in enquetes track by enquete.id">
                    <td><a ui-sref="enquete-detail({id:enquete.id})">{{enquete.id}}</a></td>
                    <td>{{enquete.nomSociete}}</td>
                    <td>{{enquete.phone}}</td>
                    <td>{{enquete.email}}</td>
                    <td>{{enquete.stay}}</td>
                    <td>{{enquete.internshipSalary}}</td>
                    <td>{{enquete.salary}}</td>
                    <td>{{enquete.comment}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
