<div ng-cloak>
    <div class="row">
        <div class="col-md-4">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" class="{{hide=='student' && 'active'}}"><a aria-controls="studenta" role="tab"
                                                                                   data-toggle="pill"
                                                                                   ng-click="show('student')">Student</a>
                </li>
                <li role="presentation" class="{{hide=='stage' && 'active'}}"><a aria-controls="stagea" role="tab"
                                                                                 data-toggle="pill"
                                                                                 ng-click="show('stage')">Stage</a></li>
                <li role="presentation" class="{{hide=='company' && 'active'}}"><a aria-controls="companya" role="tab"
                                                                                   data-toggle="pill"
                                                                                   ng-click="show('company')">Company</a>
                </li>
                <li role="presentation" class="{{hide=='teacher' && 'active'}}"><a aria-controls="teachera" role="tab"
                                                                                   data-toggle="pill"
                                                                                   ng-click="show('teacher')">Teacher</a>
                </li>
                <li role="presentation" class="{{hide=='contact' && 'active'}}"><a aria-controls="contacta" role="tab"
                                                                                   data-toggle="pill"
                                                                                   ng-click="show('contact')">Contact</a>
                </li>
                <li role="presentation" class="{{hide=='convention' && 'active'}}"><a aria-controls="conventiona"
                                                                                      role="tab" data-toggle="pill"
                                                                                      ng-click="show('convention')">Convention</a>
                </li>
                <li role="presentation" class="{{hide=='enquete' && 'active'}}"><a aria-controls="enquetea" role="tab"
                                                                                   data-toggle="pill"
                                                                                   ng-click="show('enquete')">Enquete</a>
                </li>
            </ul>
        </div>
        <div class="col-md-8">
            <div ng-show="hide=='student'" id="studenta">
                <form class="form-horizontal">
                    <fieldset>

                        <!-- Form Name -->
                        <legend>Student Filter</legend>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="lastname">Student First Name</label>
                            <div class="col-md-4">
                                <input id="lastname" name="lastname" class="form-control input-md" type="text"
                                       ng-model="lastname">
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="Student Name">Student Last Name</label>
                            <div class="col-md-4">
                                <input id="Student Name" name="Student Name" class="form-control input-md" type="text"
                                       ng-model="firstname">

                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="speciality">Speciality</label>
                            <div class="col-md-4">
                                <input id="speciality" name="speciality" placeholder="" class="form-control input-md"
                                       type="text" ng-model="speciality">
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="phone">Phone</label>
                            <div class="col-md-4">
                                <input id="phone" name="phone" placeholder="placeholder" class="form-control input-md"
                                       type="text" ng-model="phone">

                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="mail">Mail</label>
                            <div class="col-md-4">
                                <input id="mail" name="mail" placeholder="placeholder" class="form-control input-md"
                                       type="text" ng-model="mail">
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="address">Address</label>
                            <div class="col-md-4">
                                <input id="address" name="address" placeholder="placeholder"
                                       class="form-control input-md" type="text" ng-model="address">
                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="address">BirthDate</label>
                            <div class="col-md-2">
                                <select name="sbirthdate" ng-model="birthdateope">
                                    <option selected="selected" value="eq">=</option>
                                    <option value="infeq"><=</option>
                                    <option value="supeq">>=</option>
                                    <option value="inf"><</option>
                                    <option value="sup">></option>
                                </select>

                            </div>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <datepicker date-format="shortDate">
                                        <input ng-model="birthdate" type="text"/>
                                    </datepicker>
                                </div>
                            </div>

                        </div>

                    </fieldset>
                </form>
                <button id="singlebutton" name="singlebutton" class="btn btn-primary" ng-click="buildRequest()">Search
                </button>
                <br>
                request = {{request}}
            </div>
            <div ng-show="hide=='stage'" id="stagea">
                <form class="form-horizontal">
                    <fieldset>

                        <!-- Form Name -->
                        <legend>Student Filter</legend>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="lastname">Student First Name</label>
                            <div class="col-md-4">
                                <input id="lastname" name="lastname" class="form-control input-md" type="text"
                                       ng-model="lastname">
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="Student Name">Student Last Name</label>
                            <div class="col-md-4">
                                <input id="Student Name" name="Student Name" class="form-control input-md" type="text"
                                       ng-model="firstname">

                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="speciality">Speciality</label>
                            <div class="col-md-4">
                                <input id="speciality" name="speciality" placeholder="" class="form-control input-md"
                                       type="text" ng-model="speciality">
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="phone">Phone</label>
                            <div class="col-md-4">
                                <input id="phone" name="phone" placeholder="placeholder" class="form-control input-md"
                                       type="text" ng-model="phone">

                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="mail">Mail</label>
                            <div class="col-md-4">
                                <input id="mail" name="mail" placeholder="placeholder" class="form-control input-md"
                                       type="text" ng-model="mail">
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="address">Address</label>
                            <div class="col-md-4">
                                <input id="address" name="address" placeholder="placeholder"
                                       class="form-control input-md" type="text" ng-model="address">
                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="address">BirthDate</label>
                            <div class="col-md-2">
                                <select name="sbirthdate" ng-model="birthdateope">
                                    <option selected="selected" value="eq">=</option>
                                    <option value="infeq"><=</option>
                                    <option value="supeq">>=</option>
                                    <option value="inf"><</option>
                                    <option value="sup">></option>
                                </select>

                            </div>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <datepicker date-format="shortDate">
                                        <input ng-model="birthdate" type="text"/>
                                    </datepicker>
                                </div>
                            </div>

                        </div>

                    </fieldset>
                </form>
                <button id="singlebuttonstage" name="singlebutton" class="btn btn-primary" ng-click="buildRequest()">Search
                </button>
                <br>
                request = {{request}}
            </div>
            <div ng-show="hide=='company'" id="companya">...</div>
            <div ng-show="hide=='teacher'" id="teachera">...</div>
            <div ng-show="hide=='contact'" id="contacta">...</div>
            <div ng-show="hide=='convention'" id="conventiona">...</div>
            <div ng-show="hide=='enquetes'" id="enquetea">...</div>
        </div>
    </div>
    <div class="row">

        <table class="jh-table table table-striped">
            <thead>
            <tr>
                <th><span>ID {{hide=='stage'}}</span></th>
                <th><span>First Name</span></th>
                <th><span>Last Name</span></th>
                <th><span>Speciality</span></th>
                <th><span>Mail</span></th>
                <th><span>Phone</span></th>
                <th><span>Adress</span></th>
                <th><span>Birth Date</span></th>
                <th><span>Stage</span></th>
                <th><span>Teacher</span></th>
                <th><span>Contact</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="student in students track by student.id">
                <td><a ui-sref="student-detail({id:student.id})">{{student.id}}</a></td>
                <td>{{student.firstName}}</td>
                <td>{{student.lastName}}</td>
                <td>{{student.speciality}}</td>
                <td>{{student.mail}}</td>
                <td>{{student.phone}}</td>
                <td>{{student.adress}}</td>
                <td>{{student.birthDate | date:'medium'}}</td>
                <td>
                    <a ui-sref="stage-detail({id:student.stage.id})">{{student.stage.id}}</a>
                </td>
                <td>
                    <a ui-sref="teacher-detail({id:student.teacher.id})">{{student.teacher.id}}</a>
                </td>
                <td>
                    <a ui-sref="contact-detail({id:student.contact.id})">{{student.contact.id}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
